
.phonescreen {
    
   
    border-radius: 200px;
    margin-top: 5%;
}
.phone-border {
    position: absolute;
    height: 550px;
    width: 288px;
    margin-top: 0%;

}
.phone-video{
    position: absolute;
    overflow: hidden;
    height: 450px;
    margin-top: 0.3%;
    margin-left: 77px;
    border-radius: 20px;


}
@media screen and (max-width: 770px) {
    
    .phonescreen {
        display: none;
    }
}